@import "tailwindcss";
html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.bg-ground {
  background-color: black;
  color: white;
}

input[type="checkbox"] {
  width: 1em;
  height: 1rem;
  accent-color: lightgreen;
  border-radius: 50%;
}

.titleDiv {
  background-color: #eef1f3;
  border-radius: 10px 10px 0px 0px;
  padding-top: 2vh;
  padding-bottom: 1vh;
  text-align: center;
}

#machineStateTitle {
  display: flex;
  flex-direction: column;
}

.contentDiv {
  background-color: #ffffff;
  border-radius: 0px 0px 10px 10px;
  padding: 20px;
}

.bonjourBouton {
  width: 200px;
  height: 50px;
  background-color: grey;
}

.leftPanel {
  border: 3px solid #eef1f3;
  border-radius: 15px;
  color:rgb(43, 44, 44);
  display: inline-block;
  margin-top: 5vh;
  width: 15vw;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.errorPanel {
  border: 3px solid #eef1f3;
  border-radius: 15px;
  color:rgb(43, 44, 44);
  margin-top: 5vh;;
  float:right;
  width: 25vw;
}


canvas {
  display: block;
}

@keyframes fade-out {
    to {
        opacity: 0;
    }
}

.readOnlyBtn {
  margin-left: 5vh;
  margin-right: 5vh;
  border-radius: 6px;
  color: white;
  background-color: green;
}

#readOnlyBtnOff {
  background-color: green;
}
#readOnlyBtnOn {
  background-color: red;
}

.color-red {
    color:red;
}

.color-green {
    color: green;
}

#exerciseBtn{
  background-color: rgb(186, 186, 186);
  border-radius: 5px;
  padding: 1vh;
}

#hintBtn{
  background-color: rgb(222, 222, 222);
  border-radius: 5px;
  padding: 0.5vh;
}

#exercise-UI {
  align-items: center;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(194, 194, 194);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap:1vh;
  padding: 2vh;
  min-width: 30vh;
}

#basic-text-modal {
  align-items: center;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(194, 194, 194);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap:1vh;
  padding: 2vh;
  min-width: 30vh;
}

.basicBtn{
  background-color: rgb(222, 222, 222);
  border-radius: 5px;
  padding: 0.5vh;
}


#home {
  align-items: center;
  padding-top: 20vh;
  gap: 10vh;
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  max-height: 100vh;

  button {
    background-color: rgb(243, 243, 243);
    box-shadow: 0px 3px 11px 1px rgb(196, 196, 196);
    border-radius: 10px;
    padding: 2vh;
    margin: 2vh;
  }
}