.dropdown {
    background: linear-gradient(135deg, #3f3f3f 0%, #161616 100%);
    color: #eef1f3;
    font-weight: bold;
    padding: 8px 45px;
    border-radius: 5px;
}
.dropdown-item {
    font-weight: 500;
    padding: 8px 8px;
    width: 166px;
    color: black;
}