#ihm-modal {
    background-color: #d9d9d9;
    border: 1px solid gray;
    border-radius: 10px 10px 10px 10px;
    text-align: center;
    min-height: 20vw;
    min-width: 30vw;
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 99;
}

#ihm-header {
    background-color: #c3c3c3;
    border-radius: 10px 10px 0px 0px;
    font-weight: bold;
    padding : 1vh;
}

#ihm-modal-content {
    background-color: #ebebeb;
    border-radius: 0px 0px 10px 10px;
    display: flex;
    justify-content: space-evenly;
    flex: 1;
    input {
        background-color: white;
        border: 1px solid lightgray;
        text-align: center;
    }
}

.ihm-line {
    padding: 1vh;
    text-align: left;
    input {    
        font-weight: bold;
        max-width: 8vh;
    }
}

#cross {
 color: black;
  font-size: 1.5rem;
  position: absolute;
  top: 0vh;
  right: 2vh;
}

.reflux-line {
    text-align: left;
}

.highlighted {
    background-color: rgb(255, 255, 158);
}