.ruleContentDiv {
  background-color: #ffffff;
  border-radius: 0px 0px 10px 10px;
    
    font-family: "DM Sans", system-ui, sans-serif;
  padding: 20px;
  max-height: 80vh;
  overflow: scroll;
  overflow-x: hidden; /* Hide horizontal scrollbar */
}



#errorDiv {
  p {
    max-width: 19vw;
  }
}

.ruleTitleDiv {
  background: linear-gradient(135deg, #313131 0%, #161616 100%);
  display: flex;
  flex-direction: column;
  gap: 1vh;
  .rule-process-dropdown {
    color: black;
  }
  color: rgb(240,240,240);
  border-radius: 10px 10px 0px 0px;
  padding-top: 2vh;
  padding-bottom: 2vh;
  text-align: center;
}

#rulesDisplay {
  width: 40vh;
  box-shadow: 0 4px 38px rgba(0, 0, 0, 0.5);
}

.ruleCompleteBorderRadius {
  border-radius: 10px 10px 10px 10px;
}

.rule-process-dropdown {
    background-color: #eef1f3;
    padding: 5px 45px;
    border-radius: 5px;
    box-shadow: 0px 0px 3px 0px gray;
}